*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://thumbs.dreamstime.com/b/happy-smiling-construction-workers-looking-camera-72768205.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(50px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}