*{
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    height: 100px;
}

.counter{
    font-size: 40px;
}

@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}